<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <nav>
        <ul class="nav">
            <li><a href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/works">WORKS</a></li>
            <li><a href="/gallery">GALLERY</a></li>
        </ul>
    </nav>
    <div class="pochoDes">
        <img src="/images/pocholo8.jpg">
       <div class="pochoDesP">
           <p>
               Pocholo Buldin is a portuguese hound mix<br> born in May 12th of 2017.
               Pocholo is very<br> well known for barking at people in the street<br> and for loving the chicken that his 'belito' gives<br> him. Also, Pocholo has won several trophies on<br> "Best nap taker" for 6 consecutive years.
            </p>
            <p>
                His carrer started when he was adopted by his<br> beautiful and awesome mom, who showed him<br> the art of napping. With time and practice Pocholo<br> became a full expert at this topic, surprising everyone<br> (including his beautiful and awesome mom) with his<br> strange nap positions.
            </p>
        </div>
    </div>
</body>
</html>