<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <nav>
        <ul class="nav">
            <li><a href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/works">WORKS</a></li>
            <li><a href="/gallery">GALLERY</a></li>
        </ul>
    </nav>
    <h1>WORKS</h1>
    <section class="works">
        <div class="worksImg">
          <h3>November 2022</h3>
          <img src="/images/Pocholo2.jpg" height="500px">
        </div>
        <div class="worksImg">
            <h3>May 2019</h3>
          <img src="/images/pocholo3.jpg">  
        </div>
        <div class="worksImg">
            <h3>December 2021</h3>
          <img src="/images/pocholo4.jpg">  
        </div>
        <div class="worksImg">
            <h3>February 2023</h3>
          <img src="/images/pocholo7.jpg">
        </div>
        <div class="worksImg">
            <h3>August 2017</h3>
          <img src="/images/pocholo5.jpg">  
        </div>
        <div class="worksImg">
            <h3>July 2017</h3>
          <img src="/images/pocholo6.jpg"> 
        </div>
    </section>
</body>